h2 {
    font-family: 'Bangers', cursive;
    font-size: 40px;
}
h1 {
    font-family: 'Bangers', cursive;
    font-size: 80px;
    text-align: center;
}

p {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.instructions {
    display:flex;
    justify-content: space-evenly;
}

.health{
    display:flex;  
    justify-content: space-evenly;
}

html {
    background-color: #56b9c8;
    
}
  