h2 {
    font-family: 'Bangers', cursive;
    font-size: 40px;
}
h1 {
    font-family: 'Bangers', cursive;
    font-size: 80px;
    text-align: center;
}

p {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.instructions {
    display:flex;
    justify-content: space-evenly;
}

.health{
    display:flex;  
    justify-content: space-evenly;
}

html {
    background-color: #56b9c8;
    
}
  
#restart { 

     display: flex;
     justify-content: center;
     margin-top: -50px;
 }

 #restart > button { 
     background-color: black;
     font-family: 'Bangers', cursive;
     font-size: 50px;
     color:white;
     width: 200px;
     height: 70px;
     border-color:#56b9c8;
 }